
<!DOCTYPE html>
<html>
<head>
<title>Top news from the trend</title>
</head>
<body>

<h1>Here is the result for the news of {{trend}} from the NYtimes</h1>
<table style="border: 1px solid;">

    <ol>
        {%for key, value in top.items() %}
        <a href={{value[0]}}> 
            <li>{{ key }}</li> 
        </a>    
        {% endfor %}
    </ol>
    <!-- <tr>
        <th style="border: 1px solid;">Title</th>
        <th style="border: 1px solid;">Thumbnail</th>
    </tr>
    {%for key, value in top.items() %}
    <tr style>
        <td style="border: 1px solid;">
            <a href={{value[0]}}> 
                {{ key }}
            </a>
        </td>
        <td style="border: 1px solid;"><img src={{value[1]}} width="360" height="270"></td>
    </tr> -->
    <!-- {% endfor %} -->
</table>


</body>
</html>